{% load staticfiles %}
</html>         
	<head>
	<meta charset="UTF-8">
	<title>Torpedo</title>
	
	<link rel="stylesheet" href="{% static 'css/contact.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
   	<link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="slick/slick-theme.css">   	
	</head>

	<body>
	
	<div class="absolutecenter">
	<div id="content">		
				<div class="header">
					
					<div class="buttons">
					<div id="skroll">	
						<ul class="nav navbar-nav navbar-right">
							
					        <li><a href="#ex1">Про нас</a></li>
					        <li><a href="#ex2">Ціни</a></li>		        
		          			<li><a href="#ex3">Бренди</a></li>
		          			<li><a href="#ex4">Звязатись з нами </a></li>	        
				        </ul>
				    </div>
				    </div>
				    	  			
			      	
				</div>

				<div class="back"></div>
				<div class="two">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  		<ol class="carousel-indicators">
		    		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  		</ol>
		  		<div class="carousel-inner" role="listbox">
		    		<div class="item active">
		      			<img src="images/slider image.png" >
		      			<div class="carousel-caption">
		        			<div class="thumbnail">
		      					<div class="caption">
		      					<img data-src="holder.js/300x300" >
		        					<h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
	  euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim 
	  ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl 
	  ut aliquip ex ea commodo cog">
		      			<div class="carousel-caption">
		        			<h3>TEXT2</h3>
		    				<p>TEXT</p>
		      			</div>
		    		</div>		    		
		  		</div>
		  		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		    		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    		<span class="sr-only">Prev</span>
		  		</a>
		  		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		    		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    		<span class="sr-only">Next</span>
		  		</a>
				</div>
				</div>


				<div class="pix">
					<section id="ex1"></section>
				</div>


				<div class="aboutus">
				<div class="jumbotron">
				  <h1>Про нас</h1>
				  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
				  <p><a class="btn btn-primary btn-lg" href="#" role="button">Дізнатись більше</a></p>
				</div>
				</div>



				<div class="pix2">
					<div class="separator"></div>
					<section id="ex2"></section>
				</div>

				<div class="one">				

					<div class="row">
						<div class="col-sm-8 col-md-4">
							<div class="box">
								<img width="300" src="images/image1.png" alt="...">
								<p><span>Our Services</span></p><h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
	  euismod tincidunt ut lacreet dolore magna aliguam</h4>
							</div>
						</div>
						<div class="col-sm-8 col-md-4">
							<div class="box">
								<img width="300" src="images/image2.png" alt="...">
								<p><span>Our Services</span></p><h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
	  euismod tincidunt ut lacreet dolore magna aliguam</h4>
							</div>
						</div>
						<div class="col-sm-8 col-md-4">
							<div class="box">
								<img width="300" src="images/image3.png" alt="...">
								<p><span>Our Services</span></p><h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
	  euismod tincidunt ut lacreet dolore magna aliguam</h4>
							</div>

						</div>


					</div>	
					</div>
					<div class="three">
						
						<div class="row">
						<div class="col-sm-6 col-md-4">
							<div class="box">
								<img width="300" src="images/image1.png" alt="...">
								<p><span>Our Services</span></p><h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
	  euismod tincidunt ut lacreet dolore magna aliguam</h4>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="box">
								<img width="300" src="images/image2.png" alt="...">
								<p><span>Our Services</span></p><h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
	  euismod tincidunt ut lacreet dolore magna aliguam</h4>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="box">
								<img width="300" src="{{article.image1.url}}" alt="...">
								<div>{{article}}</div>
							</div>
						</div>
					</div>

					<div class="price">
					<button type="button" class="btn btn-default btn-lg btn-block">Переглянути ціни</button>
					</div>

				
					<div class="pix3">
					<div class="separator"></div>
					<section id="ex3"></section>
					</div>



				<div class="slider">					
					<div class="multiple-items">
		                <div><img src="images/logo1.png"></div>
		                <div><img src="images/logo2.png"></div>
		                <div><img src="images/logo3.png"></div>
		                <div><img src="images/logo4.png"></div>
		                <div><img src="images/logo5.png"></div>
		            </div>
		           		            
		        </div> 
		       
			</div> 


		<div class="pix4">
					<div class="separator"></div>
	<section id="ex4">
		...
	</section>
					</div>
		<div class="line"></div>
		<div class="contact">
			
			<div class="contacttext">

			<form action="/contact/" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
	<div>
	  <label for="id_subject">Тема:</label>
	  {{ form.subject.errors }}
	  {{ form.subject }}
	</div>
	<div>
	  <label for="id_sender">E-mail:</label>
	  {{ form.sender.errors }}
	  {{ form.sender }}
	</div>
	<div>
	  <label for="id_message">Сообщение:</label>
	  {{ form.message.errors }}
	  {{ form.message }}
	</div>
	
	<input type="submit" value="Отправить"/>
</form>	

			</div>
			</div>
		</div>

	</div>

	</body>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="slick/slick.min.js"></script>
    <script src="script.js"></script>
</html>
