    <html>
        <head>
            <title>Pashus Shop</title>
        </head>
        <body>
   			{% block contact %}

 <div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title"></h2>
  </div>
  <div class="panel-body">
<div class="well well-lg" align="center">
    <h3>Повідомлення відправлено!</h3>
    <div align="center"><a href=""><button type="button" class="btn btn-info">На головну</button></a></div>
  </div>
</div>
</div>
{% endblock %}
        </body>
    </html>
