body{
width: 100%;
height: auto;
background-color:#0f759e;
text-align: justify;
font-family: 'Roboto', sans-serif;
background: url(../images/14.jpg)center no-repeat;
background-size: cover; 
background-attachment:fixed;
}

.container{
opacity: 0.9;
}

.header{
width: 100%;
height: auto;
background-color: #339966;
box-shadow: 0px 0px 22px #333333;
-webkit-box-shadow: 0px 0px 22px #333333;
-moz-box-shadow: 0px 0px 22px #333333;
}

.content{
width: 70%;
height: auto;
margin: 0% 15% 0% 15%;
}

.footer{
width: 100%;
height: auto;
background-color:#339966;
box-shadow: 0px 0px 22px #333333;
-webkit-box-shadow: 0px 0px 22px #333333;
-moz-box-shadow: 0px 0px 22px #333333;
}

.logo{
width: 70%;
height: auto;
margin: 0% 15% 0% 15%;
color: #ffffff;
text-align: center;
font-family: 'Prosto One', cursive;
font-size: 40px;
font-weight:bold;
border-bottom: 2px solid #ffffff;
}

.menu{
width: 80%;
height: auto;
margin: 0% 10% 0% 10%;
text-align: center;
}

.contact{
width: 70%;
height: auto;
margin: 0% 15% 0% 15%;
margin-top: 20px;
padding: 5px 0px 5px 0px;
}

.slider{
width: 100%;
height: auto;
margin-top:30px;
position: static!important;
z-index: -1 !important;
}

.about-us{
width: 100%;
height:250px;
margin-top: 20px;
border: 2px solid rgb(255, 255, 255);
border-radius: 5px;
}

.article{
width: 100%;
height: auto;
text-align: center;
margin-top: 20px;
}

.sale{
width: 100%;
height: auto;
margin-top: 20px;
border: 2px solid rgb(255, 255, 255);
border-radius: 5px;
padding-bottom: 5px;
}

.price{
width: 5%;
height: auto; 
margin-left: 83%;
margin-top: 0.1%;
position: fixed; 
}

.price img{
width: 150px;
height: auto;
}

.photo img{
float: left;
width: 40%;
height: auto;
padding: 10px;
margin-top: 20px;
}

.txt{
float: right;
float: left;
width: 60%;
height: 100%;
overflow:auto;
padding: 10px;
color: #ffffff;
text-shadow: 0px 0px 7px #000000; 
}

.article img{
width: 200px;
} 

#owl-demo .item{ 
padding: 0px 0px;
margin: 10px;
color: #FFF;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
text-align: center;
}

.customNavigation{
text-align: center;
}

.customNavigation a{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#owl-demo img{
width: 150px;
height: auto;
}



.form-control{
margin-top: 4px;
color: #ffffff!important ;
background-color: #339966!important ;
border: 2px solid #ffffff!important ;
border-radius: 5px!important ;
}

input::-webkit-input-placeholder { color:#ffffff!important ; }
input::-moz-placeholder { color:#ffffff!important ; }
input::placeholder { color:#ffffff!important ; }

.small{
width: 200px;
}

.slider-txt{
border: 2px solid rgb(255, 255, 255);
border-radius: 5px;
color: #ffffff;
text-shadow: 0px 0px 7px #000000; 
}

.btn{
color: #FFFFFF !important;
border: 2px white solid !important;
border-radius: 5px !important;
font-size: 20px;
font-weight:bold;
z-index: -1;
text-decoration: none !important;
margin: 5px 0px 5px 0px;
}

.menu .btn{
color: #FFFFFF !important;
z-index: 9999!important;
background-color: #339966;
margin: 0.7%;
}

.btn:hover{
color: #000000 !important;
background-color: #FFFFFF!important;
}

.thumbnail{
box-shadow: 0px 0px 22px #333333!important;
-webkit-box-shadow: 0px 0px 22px #333333;
-moz-box-shadow: 0px 0px 22px #333333; 
z-index: -1 !important;
}

h5{
color: #339966!important;
font-style: bold!important;
}

h2{
color: #FF7F00!important;
font-weight: 600!important;
font-family: 'Prosto One', cursive;
}

h4{
color: #FF7F00!important;
font-style: bold!important;
}

h1{
color: #ffffff!important;
font-weight: 600!important;
text-align: center;
font-family: 'Prosto One', cursive;
text-shadow: 0px 0px 7px #000000;
}

.sticky-content.fixed{
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 999 !important
}

.col-md-4{
position: static!important;
z-index: -1 !important;
}

.btn-success{
color: #339966!important;
background-color: #ffffff!important;
background-image:none!important;
border: #339966 solid 2px!important;
}

#id_subject{
   color: white;
   background-color: #339966;
   border-radius: 5px;
   border: 2px solid white;
   font-size: 18px;

}

#id_sender{
   color: white;
   background-color: #339966;
   border-radius: 5px;
   border: 2px solid white;
   font-size: 18px;
}

#id_message{
   width: 100%;
   margin-top: 20px;
   color: white;
   background-color: #339966;
   border-radius: 5px;
   border: 2px solid white;
   font-size: 18px;

}

#id_phone{
   color: white;
   background-color: #339966;
   border-radius: 5px;
   border: 2px solid white;
   font-size: 18px;

}